services:
  zerbania:
    build: .
    container_name: zerbania-tts-bot
    restart: unless-stopped
    env_file:
      - .env
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
